<div class="news">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida vitae erat vitae suscipit. Fusce a dapibus ipsum. Nunc sed nisi libero. Praesent eu vehicula nibh. Pellentesque sagittis massa augue, accumsan euismod nunc laoreet at. Vivamus sollicitudin bibendum varius. Quisque vitae erat sed orci imperdiet venenatis.

        Vestibulum mollis semper porta. Curabitur pretium enim nec metus ultricies, eu blandit purus laoreet. Phasellus malesuada at tellus vel ultricies. Etiam posuere sapien in nisl consequat, vitae consectetur tellus rhoncus. Aliquam at efficitur ante. Duis in purus augue. Etiam non ultrices mauris. Integer auctor orci eget maximus aliquam.</p>
    
</div>